<p id="notice"><%= notice %></p>

<center>
<h1>Color Schemes</h1>
<!--%= link_to 'New Color Scheme', new_color_scheme_path, :class => "btn btn-light" %-->
<div class="row">
<br>&nbsp;
</div>

<table>
  <thead>
    <tr>
			<td><h4>&nbsp;Name&nbsp;</h4></td>
			<td><h4>&nbsp;Color #1&nbsp;</h4></td>
			<td><h4>&nbsp;Color #2&nbsp;</h4></td>
			<td><h4>&nbsp;Color #3&nbsp;</h4></td>
      <th colspan="3"></th>
    </tr>
		<!--tr>
			<td>
				&nbsp;
			</td>
		</tr-->
  </thead>

  <tbody>
		<% if !@color_schemes.nil? %>
			<% @color_schemes.each do |color_scheme| %>
				<tr>
					<td>
					  <%= link_to color_scheme.name, color_scheme, :class => "btn btn-light" %>
					</td>

					<td>
						<svg width="75" height="75">
							<!--rect x="0" y="0" width="75" height="75" fill="%= color_scheme.colorOne %>"/-->
							<circle cx="37.5" cy="37.5" r="37.5" fill="<%= color_scheme.colorOne %>"/>
						</svg>
						<br><%= color_scheme.colorOne.upcase %>
					</td>

					<td>
						<svg width="75" height="75">
							<!--rect x="0" y="0" width="75" height="75" fill="%= color_scheme.colorTwo %>"/-->
							<circle cx="37.5" cy="37.5" r="37.5" fill="<%= color_scheme.colorTwo %>"/>
						</svg>
						<br><%= color_scheme.colorTwo.upcase %>
					</td>

					<td>
						<svg width="75" height="75">
							<!--rect x="0" y="0" width="75" height="75" fill="%= color_scheme.colorThree %>"/-->
							<circle cx="37.5" cy="37.5" r="37.5" fill="<%= color_scheme.colorThree %>"/>
						</svg>
						<br><%= color_scheme.colorThree.upcase %>
					</td>

					<td><%= link_to 'Show', color_scheme, :class => "btn btn-light" %><br>
					<!--%= link_to 'Edit', edit_color_scheme_path(color_scheme), :class => "btn btn-light" %></br>
					%= link_to 'Destroy', color_scheme, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-light" %--></td>
				</tr>
				<tr>
					<td>
						&nbsp;
					</td>
				</tr>
			<% end %>
    <% end %>
  </tbody>
</table>

<br>

</center>
