<center>
<h1>New Color Scheme</h1>
<%= link_to 'Back', color_schemes_path %>

<form>
<%= form_for @color_scheme, url: {action: "create"}, html: {class: "form-group"} do |f| %>
	Name: <%= f.text_field :name %><br>
	Color One: <%= f.text_field :colorOne %><br>
	Color Two: <%= f.text_field :colorTwo %><br>
	Color Three: <%= f.text_field :colorThree %><br>
	<%= f.submit "Create" %>
<% end %>
</form>

</center>
