<p id="notice"><%= notice %></p>

<center>
	<h4><%= @color_scheme.name %></h4>


	<%= @color_scheme.colorOne %><br>
	<svg width="50" height="50">
		<rect x="0" y="0" width="50" height="50" fill="#ffff00"/>
	</svg>
	<br><br>


	<%= @color_scheme.colorTwo %><br>
	<svg width="50" height="50">
		<rect x="0" y="0" width="50" height="50" fill="#CCCC00"/>
	</svg>
	<br><br>

	<%= @color_scheme.colorThree %><br>
	<svg width="50" height="50">
		<rect x="0" y="0" width="50" height="50" fill="#FFFF33"/>
	</svg>
	<br><br>


<%= link_to 'Edit', edit_color_scheme_path(@color_scheme) %> |
<%= link_to 'Back', color_schemes_path %>


</center>
