<p id="notice"><%= notice %></p>

<center>
	<h2><%= @color_scheme.name %></h2>
	<!--%= link_to 'Edit', edit_color_scheme_path(@color_scheme), :class => "btn btn-light" %> |-->
	<%= link_to 'Back', color_schemes_path, :class => "btn btn-light" %>
	<br>
	<br>


<table>
	<thead>
		<tr>
			<td><center><%= @color_scheme.colorOne.upcase %></center></td>
			<td><center><%= @color_scheme.colorTwo.upcase %></center></td>
			<td><center><%= @color_scheme.colorThree.upcase %></center></td>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>
				<svg width="200" height="200">
					<!--rect x="0" y="0" width="100" height="100" fill="%= @color_scheme.colorOne %>"/-->
					<circle cx="100" cy="100" r="100" fill="<%= @color_scheme.colorOne %>"/>
				</svg>
			</td>
			<td style="padding: 10px;">
				<svg width="200" height="200">
					<!--rect x="0" y="0" width="100" height="100" fill="%= @color_scheme.colorTwo %>"/-->
					<circle cx="100" cy="100" r="100" fill="<%= @color_scheme.colorTwo %>"/>
				</svg>
			</td>
			<td>
				<svg width="200" height="200">
					<!--rect x="0" y="0" width="100" height="100" fill="%= @color_scheme.colorThree %>"/-->
					<circle cx="100" cy="100" r="100" fill="<%= @color_scheme.colorThree %>"/>
				</svg>
			</td>
		</tr>
	</tbody>
</table>

	<!--%= @color_scheme.colorOne %><br>
	<svg width="100" height="100">
		<rect x="0" y="0" width="100" height="100" fill="<= @color_scheme.colorOne %>"/>
	</svg>
	<br><br>


	<= @color_scheme.colorTwo %><br>
	<svg width="100" height="100">
		<rect x="0" y="0" width="100" height="100" fill="<= @color_scheme.colorTwo %>"/>
	</svg>
	<br><br>

	<= @color_scheme.colorThree %><br>
	<svg width="100" height="100">
		<rect x="0" y="0" width="100" height="100" fill="<= @color_scheme.colorThree %>"/>
	</svg>
	<br><br-->

</center>
