<!DOCTYPE html>
<html>
  <head>
    <title>ColorSchemes</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script src="https://d3js.org/d3.v4.min.js"></script>
  </head>

	<!--nav class="navbar navbar-default navbar-expand-sm">
		&nbsp;&nbsp;%= link_to 'Home', root_path, method: :get %>
		&nbsp;&nbsp;%= link_to 'Help', static_pages_help_path, method: :get %>
		&nbsp;&nbsp;%= link_to 'Color Schemes', color_schemes_path, method: :get %>
	</nav-->

	<div class="center jumbotron jumbotron-fluid" id="mainTran">
		<div class="container">
			<center>
				<h1>Color Schemes</h1>
				<p-small>
					A collection of 3-color color schemes.
				</p-small>
			</center>
		</div>
	</div>


  <body>
    <%= yield %>
  </body>

	<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>
	<div class="footer navbar-fixed-bottom">
	</div>
</html>
